/* SCSS STYLES FROM https://codepen.io/giana/pen/GJMBEv */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background: #2e2c2f;
  color: #e9e8e8;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 5em 0 2em;
  text-align: center;
}

.warning {
  color: #ff3a20;
  font-size: 30px;
  margin: 0 auto 2em;
}

.calculator {
  font-size: 28px;
  margin: 0 auto;
  width: 10em;
}

.viewer {
  color: #fff;
  float: left;
  line-height: 3em;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 7.5em;
  height: 3em;
}

button {
  border: 0;
  background: #ff3a20;
  color: #fff;
  cursor: pointer;
  float: left;
  font: inherit;
  margin: 0.25em;
  width: 2em;
  height: 2em;
  transition: all 0.5s ease-in-out;
}
button:hover {
  background: #ffbd00;
  color: #000;
}
